# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# NuGet
packages/
*.nupkg

# Rider / ReSharper
.idea/
*.DotSettings.user

# Other common junk
*.log
*.cache
.DS_Store